dist: trusty

language: python

python:
    - '2.7'
    # lazr.restfulclient isn't available from pypi for python 3 yet, cf.
    # <https://bugs.launchpad.net/lazr.restfulclient/+bug/1552595>.
    # - '3.4'

before_install:
  - pip install pytest pytest-cov pylint

install:
  # some dependency doesn't specify its dependencies correctly; perhaps
  # launchpadlib
  - pip install simplejson
  - pip install .

# run tests
script:
  - pylint launchpadtools
  - cd test/ && pytest --cov launchpadtools

after_success:
  - bash <(curl -s https://codecov.io/bash)
